/* css for container one  */
.container-one{
    padding:0px 128px 64px;
    background-color: #1F2937;
    
}

.header-logo{
size: 24px;
color: #F9FAF8;
display: flex;
align-items: center;
justify-content: space-between;
}

.left-links{
list-style: none;
display: flex;
gap: 10px;
}

a{
text-decoration: none;
color: #e5e7eb;
}

.awesome{
display: flex;
flex-direction: column;


}
.header-2{
size: 48px;
font-weight: 800;
color: #F9FAF8;
display: flex;

}

.text{
size: 18px;
color: #e5e7eb;
display: flex;
flex-direction: column;
gap: 8px;

}

.sign-up{
 background-color: #3882F6;
 color: #e5e7eb;
 display: flex;
 flex-direction: column;
 height: fit-content;
 width: fit-content;
 border-radius: 4px;
}

.image{
display: flex;
background-color: gray;
color: #F9FAF8;
align-items: center;
padding: 16px;
}

.lower{
    display: flex;
    justify-content: space-between;
}

/* css for container two */